docs/source/notebooks/utils/questions.py
docs/source/notebooks/utils/__pycache__/questions.cpython-313.pyc
docs/source/notebooks/utils/.ipynb_checkpoints/questions-checkpoint.py
docs/source/notebooks/.ipynb_checkpoints/Lesson8-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Lesson6-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Lesson5-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Lesson4-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Lesson3-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Lesson2-checkpoint.rst
docs/source/notebooks/.ipynb_checkpoints/Lesson1-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Guest_Speaker5-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Guest_Speaker4-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Guest_Speaker3-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Guest_Speaker2-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Guest_Speaker1-checkpoint.ipynb
docs/source/notebooks/.ipynb_checkpoints/Challenge-checkpoint.ipynb
docs/source/.ipynb_checkpoints/index-checkpoint.rst
docs/source/.ipynb_checkpoints/conf-checkpoint.py
docs/source/notebooks/utils/__pycache__/questions.cpython-313.pyc
docs/source/notebooks/utils/.ipynb_checkpoints/questions-checkpoint.py
docs/source/.ipynb_checkpoints/index-checkpoint.rst
docs/source/.ipynb_checkpoints/conf-checkpoint.py
docs/source/notebooks/utils/questions.py
